@import '../../styles/variables.scss';

.searchWrapper {
    @extend %inlineFlexAlignCenter;
    gap: 27px;
    min-width: 449px;
    padding: 16px 20px;
    border-radius: 22px;
    background: rgba(8, 11, 42, 0.34);
    backdrop-filter: blur(16.5px);

    button {
        background: transparent;
    }

    input {
        flex-grow: 1;
        background: transparent;
        color: $WhiteTwo;
        font-size: 1.6rem;
        font-weight: 400;
    }
    @media (max-width: 1300px) {
        gap: 6px;
        min-width: 300px;
    }
    @media (max-width: 1200px) {
        min-width: 240px;
        img {
            max-width: 16px;
        }
        input {
            font-size: 1.4rem;
        }
    }
    @media (max-width: 768px) {
        flex-grow: 1;
    }
    @media (max-width: 568px) {
        min-width: 150px;
        padding: 8px;
        input {
            overflow-x: hidden;
        }
    }
}