@import '../../styles/variables.scss';

.trendingContainer {
    width: 100%;
    margin: auto;
    max-width: 1335px;
}

.trendingCardWrapper {
    width: 100%;
}

.trendingCard {
    width: 291px !important;
    height: 285px;
    position: relative;
}

.trendingCardHeading {
    @extend %flexAlignCenter;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 14px;
    width: calc(100% - 28px);

    h3 {
        color: $WhiteOne;
        font-family: 'Saira', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.trendingCardContent {
    width: calc(100% - 16px);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(16.5px);
    position: absolute;
    bottom: 6px;
    left: 8px;
    @extend %flexAlignCenter;
    padding: 9px 6px 8px 5px;
}

.profileName {
    @extend %flexAlignCenter;
    gap: 2px;

    h3 {
        color: $WhiteOne;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 24px;
    }
}

.profileDetails {
    padding-left: 7px;

    p {
        color: $BlueEight;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 20px;
    }
}

.profileEth {
    padding-left: 23px;

    h3 {
        color: $WhiteFive;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 24px;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 24px;
        background: linear-gradient(90deg, #ACB6E5 0%, #86FDE8 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}