@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

// font families
// font-family: 'Inter', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Saira', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  color: $ColorWhiteOne;
  background: $ColorBlackOne;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}