@import './variables.scss';

.layoutWrapper {
  display: flex;
  gap: 23px;
  padding-top: 32px;
}

.sideNavWrapper {
  flex-basis: 72px;
}

.mainContentWrapper {
  flex-basis: calc(100% - 95px);
}

.popularSectionWrapper {
  display: flex;
  gap: 15px;
}