$WhiteOne: #FFFFFF;

$BlackOne: #000000;

$BlueOne: #080B2A;
$BlueTwo: #2A3E84;
$BlueThree: #232966;
$BlueFour: #2E357B;

%circleEffect {
    content: '';
    border-radius: 356px;
    filter: blur(175px);
    background: $BlueTwo;
    position: absolute;    
}